<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-server"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Vacantes disponibles</p>
                                {{quantityOfVacancies}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-wallet"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Empleados activos</p>
                                {{ employees.length}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-calendar"></i> Last day
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-pulse"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Empleados candidatos</p>
                                {{ userCandidateEmployees.length}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-timer"></i> In the last hour
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-twitter-alt"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Candidatos en proceso</p>
                                {{ candidateInterviews.length}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <nz-card [nzLoading]="isVacanciesLoading">
                <div class="header">
                    <h4 class="title">Puestos disponibles</h4>
                </div>
                <div class="content">
                    <nz-table #vacanciesTable [nzData]="vacancies">
                        <thead>
                            <tr>
                                <th *ngFor="let header of vacanciesHeaders">{{ header }}</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of vacanciesTable.data">
                                <td>{{data.name}}</td>
                                <td>{{data.riskLevel}}</td>
                                <td>{{data.minimumSalary}}</td>
                                <td>{{data.maximumSalary}}</td>
                                <td>{{data.currencyType}}</td>
                                <td>
                                    <a>Ver detalle</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a>Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-card>
        </div>

        <div class="col-md-6">
            <nz-card>
                <div class="header">
                    <h4 class="title">Puestos</h4>
                </div>
                <div class="content">
                    <nz-table #jobsTable [nzData]="jobs">
                        <thead>
                            <tr>
                                <th *ngFor="let header of jobsHeaders">{{ header }}</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of jobsTable.data">
                                <td>{{data.name}}</td>
                                <td>{{data.riskLevel}}</td>
                                <td>5</td>
                                <td>{{data.quantityOfEmployeesNeeded}}</td>
                                <td>
                                    <a>Ver detalle</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a>Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <nz-card>
                <div class="header">
                    <h4 class="title">Empleados candidatos</h4>
                </div>
                <div class="content">
                    <nz-table #candidateEmployeeTable [nzData]="userCandidateEmployees">
                        <thead>
                            <tr>
                                <th *ngFor="let header of candidateEmployeesHeaders">{{ header }}</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of candidateEmployeeTable.data">
                                <td>{{data.fullName}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.preparationsHandle}}</td>
                                <td>{{data.languagesHandle}}</td>
                                <td>
                                    <a>Ver detalle</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a>Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-card>
        </div>
        <div class="col-md-6">
            <nz-card>
                <div class="header">
                    <h4 class="title">Entrevistas pendientes</h4>
                </div>
                <div class="content">
                    <nz-table #candidateInterviewsTable [nzData]="candidateInterviews">
                        <thead>
                            <tr>
                                <th *ngFor="let header of candidateInterviewsHeaders">{{ header }}</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of candidateInterviewsTable.data">
                                <td>{{data.candidateFullName}}</td>
                                <td>{{data.interviewer}}</td>
                                <td>{{data.interviewDate | date: 'short'}}</td>
                                <td>
                                    <a>Ver detalle</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a>Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-card>
        </div>
    </div>
</div>