<nz-modal [nzVisible]="modalVisibility" nzTitle="Crear entrevista" (nzOnCancel)="changeAspireToJobModalVisibility(false)"
    [nzFooter]="modalFooter">
    <form nz-form nzLayout="horizontal" [formGroup]="aspirateToJobForm">
        <nz-form-item>
            <nz-form-label [nzSpan]="8" nzRequired>
                Fecha de la entrevista
            </nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input type="date" nz-input formControlName="interviewDate" placeholder="Fecha de la entrevista">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="12" nzRequired>
                Entrevistador
            </nz-form-label>
            <nz-form-control [nzSpan]="10">
                <nz-select nzAllowClear formControlName="interviewer" nzPlaceholder="Seleccione una opcion">
                    <nz-option nzValue="0" nzLabel="Nadie"></nz-option>
                    <ng-container *ngFor="let employee of employees">
                        <nz-option [nzValue]="employee.id" [nzLabel]="employee.user.fullName"></nz-option>
                    </ng-container>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="changeModalVisibility(false)">Cancel</button>
        <button nz-button nzType="primary" [disabled]="createInterview.invalid" (click)="createInterview()" [nzLoading]="isConfirmLoading">Crear</button>
    </ng-template>
</nz-modal>

<nz-card>
    <div class="header">
        <h4 class="title">Entrevistas solicitadas</h4>
    </div>
    <div class="content">
        <nz-table #candidateInterviewsTable [nzData]="aspirationsToJob">
            <thead>
                <tr>
                    <th *ngFor="let header of aspirationsToJobHeaders">{{ header }}</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of candidateInterviewsTable.data">
                    <td>{{data.candidateEmployee.user.fullName}}</td>
                    <td>{{data.userWhoRecommendedIt ? data.userWhoRecommendedIt.fullName : 'Nadie'}}</td>
                    <td>{{data.salaryToAspire}}</td>
                    <td>{{data.job.name}}</td>
                    <td>
                        <a>Aceptar</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-card>