<nz-card>
  <div class="header">
      <h4 class="title">Historico de entrevistas</h4>
  </div>
  <div class="content">
      <nz-table #candidateInterviewsTable [nzData]="candidateInterviews">
          <thead>
              <tr>
                  <th *ngFor="let header of candidateInterviewsHeaders">{{ header }}</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of candidateInterviewsTable.data">
                  <td>{{data.candidateFullName}}</td>
                  <td>{{data.interviewer}}</td>
                  <td>{{data.interviewDate | date: 'short'}}</td>
                  <td>{{data.jobName}}</td>
                  <td>{{data.salaryAspired | currency}}</td>
                  <td>{{data.hired ? 'Contratado' : 'Sin contratar'}}</td>
                  <td>
                      <a>Ver detalle</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a>{{data.hired ? 'Ver empleado' : 'Contratar'}}</a>
                  </td>
              </tr>
          </tbody>
      </nz-table>
  </div>
</nz-card>